<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption System</title>
</head>
<body>
    <form action="/login" method="POST">
        <div>
            <h2>Enter your credentials</h2>
            <label for="username">Enter username : </label>
            <input type="text" name="username" placeholder="Enter your username">
            <br><br>
            <label for="password">Enter the password : </label>
            <input type="text" name="password" placeholder="Enter your password">
            <br><br>
            <label for="role">Enter your role: </label>
            <input type="text" name="role" placeholder="Enter your role">
            <br><br>
            <button type="submit">Log in</button>
        </div>
    </form>
</body>
</html>