<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption System</title>
</head>
<body>
    
    <h1>Pet Adoption System</h1>

    <form action="/pets/return" method="POST">
        <div>
            <h2>Enter pet's details to adopt a Pet</h2>
            <label for="id">Enter ID of the pet : </label>
            <input type="number" name="id" placeholder="Enter the ID of the pet">
            <br><br>
            <button type="submit">Add</button>
        </div>
    </form>

</body>
</html>